$blue = HSL(208, 58%, 52%)
$lightblue = HSL(208, 58%, 82%)
$green = HSL(118, 41%, 53%)
$lightgreen = HSL(118, 41%, 83%)
$yellow = HSL(38, 86%, 59%)
$lightyellow = HSL(38, 86%, 89%)
$red = HSL(3, 66%, 57%)
$lightred = HSL(3, 66%, 87%)
$gray = hsl(0, 0%, 61%)
$lightgray = hsl(0, 0%, 91%)

$darkPageBg = HSL(217, 7%, 34%)
$pageBg = HSL(240, 3%, 93%)
$panelBg = HSL(210, 7%, 95%)
$panelBorder = HSL(0, 2%, 88%)
$gadgetBg = HSL(240, 4%, 95%)

body {
  background: $pageBg;
  margin: 0;
  padding: 0;
}

nav {
  background: white;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .2em)
  position: relative;
  z-index 100
}

nav h1 {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: Lato;
}

.dzWrapper {
  position: relative
  transition: 100ms;
}

.hovering-top {
  border-top 4px solid hsl(0, 0%, 30%);
  margin-top: 1em;
  padding-top: 1em;
}

.hovering-bottom {
  border-bottom 4px solid hsl(0, 0%, 30%)
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.dzT {
  background: $lightblue
  opacity .4
  border: 6px dotted $blue
  box-sizing: border-box
  position: absolute
  left 0
  top 0
  width 100%
  height 4em
  z-index 100
  transition: 100ms;
}

.hovering-top .dzT {
  height 5em;
  background: $lightyellow
  opacity .4
  border: 6px dotted $yellow
}

.dzB {
  background: $lightgreen
  opacity .4
  border: 6px dotted $green
  position: absolute
  left 0
  bottom 0
  width 100%
  height 4em
  z-index 100
  transition: 100ms;
}

.hovering-bottom .dzB {
  height 5em;
  background: $lightyellow
  opacity .4
  border: 6px dotted $yellow
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.heavy {
  font-weight: 700;
}

.light {
  font-weight: 300;
}

.gadget {
  padding: 1em;
  background: white;
}

.gadget .label {
  font-weight: 700;
  font-size: 1.2em;
  color: hsl(0, 0%, 30%)
}

.gadget .type {
  color: #7047A3;
  opacity .7
}

.panel {
  background: white;
  position: relative;
}

.panel .panelLabel {
  background: $panelBg;
  border-bottom: 3px solid $panelBorder;
  padding 1em
  color HSL(220, 1%, 43%)
  font-weight 700
  font-size 1.2em
}

.row + .row {
  padding-top .2em;
  margin-top .2em
  border-top 1px solid rgba(0, 0, 0, .1)
}

.row {
  display: flex;
}

.column {
  flex: 1;
}
